body {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    background-color: #000000;
}
header {
    background-color: #141b42;   /* color del encabezado */
    color: rgb(220, 219, 223);
    padding: 20px;
    text-align: center;
}
nav {
    background-color: rgb(220, 219, 223);
    

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;             /* horizontal */
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li button {
    background-color: rgb(220, 219, 223);
    font-family: "Courier New", Courier, monospace;
    color: rgb(10, 7, 7);
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold; 
}

nav ul li button:hover {
    background-color: #555;
}
nav ul li button.activo{
    background-color: #8f8e8e;
    font-weight: bold;
}
.seccion {
    align-items: center;
    background-color: rgb(238, 238, 243);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.seccion h2 {
    margin-top: 0;
}
.seccion input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #adadaf;
    border-radius: 4px;
}

.seccion button {
    padding: 10px 15px;
    background-color:  #141b42;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.seccion button:hover {
    background-color:  #141b42;
}

/* Resultado */
.seccion div {
    margin-top: 15px;
    padding: 10px;
    background-color: #ffffff;
    border-left: 4px solid  #141b42;
    border-radius: 4px;
}